.taskContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;

    width: 100%;
}

div.taskList {
    list-style: none;
    padding: 0;
    margin-top: 20px;

    width: 100%;
}